@charset "utf-8" ;
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit
}
body{
    line-height: 1;
    color: #333;
}
/* **********.cont03 웹사이트***************** */
.cont03{
    width: calc(100% - 300px);
    margin:200px auto;
}
.cont03 .title{
}
.cont03 .title h3{
    font-family: 'GmarketSansBold';
    font-size: 40px;
}
.cont03 .title p{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    margin: 10px 0 20px;
}

.cont03 .list{
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.cont03 .list .item{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.cont03 .list .item::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.6)
}
.cont03 .list .item:hover::before{
    bottom: 0;
    transition: 0.5s;
}
.cont03 .list .item:hover .info .btn li a{
    color: #333;
}


/* .cont03 .list .item:hover .info a{
    color: #333;
} */
.cont03 .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item .info{
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #cec4bd;
    padding: 50px;
    word-break: keep-all;
}
.cont03 .list .item:nth-of-type(2) .info{
    background-color: #ffc1c1;
}
.cont03 .list .item:hover .info{
    color: #fff;
    background-color: transparent;
}
.cont03 .list .item .info h4{
    font-family: 'GmarketSansBold';
    font-size: 30px;
}
.cont03 .list .item .info p{
    margin: 7px 0 20px ;
    line-height: 1.4;
    font-family: 'GmarketSansMedium';
}

.cont03 .list .item .info .text{}
.cont03 .list .item .info .text li{
    margin: 5px 0;
    font-family: 'GmarketSansMedium';
}
.cont03 .list .item .info .text li strong{}

.cont03 .list .item .info .btn{
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li{
    margin-right: 10px;
    background-color: #865d40;
    height: 45px;
    border-radius: 40px;
}
.cont03 .list .item:nth-of-type(2) .info .btn li{
    background-color: rgb(151, 2, 2);
}
.cont03 .list .item .info .btn li:hover a{
    transform: scale(1.1);
    transition: 0.2s;
    line-height: 48px;
    color: #865d40;
    
}

.cont03 .list .item:nth-of-type(2) .info .btn li:hover a{
    color: rgb(175, 2, 2);
}
.cont03 .list .item .info .btn li a{
    height: 45px;
    padding: 0 40px;
    display: block;
    font-size: 14px;
    line-height: 45px;
    color: #fff;   
    font-family: 'GmarketSansMedium';
    transition: 0.3s;
}
.cont03 .list .item:hover .info .btn li{
    background-color: #fff;
    transition: 0.5s;
}

