@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #333;
    line-height: 1;
    font-family: 'NanumSquare';
}
li{
    list-style: none;   
}
i span{
    position: absolute;
    left: -99999px;
}
/* *****header ********/
header{
    width: 100%;
    height: 100px;
    top:0;
    left: 0;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    border-bottom: 1px solid rgb(145, 145, 145);
}
header .cont01{
    width: 1720px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
header .cont01 h1{
    margin-right: 65px;
}
/* header .cont01 .menu */
header .cont01 .menu{
    display: flex;
    height: 100%;
    line-height: 100px;
    position: relative;
}
header .cont01 .menu div li{
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 20px;
    margin-right: 40px;  
}
header .cont01 .menu div li a:hover{
    color: #e5000f9f;
}
header .cont01 .menu .list01{
    display: none;
    z-index: -9;
    position: absolute;
    height: 600px;
    width: 3000px;
    
    background-color: rgb(248, 246, 246);
}
header .cont01 .menu div:hover .list01{
    display: flex;
    position: absolute;
    top: 100px;
    left:-1000px;
    padding-left: 1000px;
}
header .cont01 .menu div .list01 ul{
   margin-top:-10px;
}
header .cont01 .menu div .list01 ul li{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding-top: 5px;
    padding-right: 100px; 
}
header .cont01 .menu div .list01 ul li strong{
    font-family: 'NanumSquare';
    font-size: 18px;
    margin-top: 20px;
    font-weight: 800;
    display: block;
    color:rgb(114, 5, 5);
}
header .cont01 .menu .womon .list01 .C{
    margin-top: 36px;
}
/* header .cont01 .search */
header .cont01 .search{
    width: 250px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    line-height: 100px;
}
header .cont01 .search input{
    width: 100%;
    height: 30px;
    align-items: center;
    line-height: 100px;
    border: none;
    border-bottom:1px solid #333 ;
}
header .cont01 .search input:focus{
    outline: none;
}
header .cont01 .search a{
    position: absolute;
    top: 5px;
    right: 0;
    transition: 0.5s;
}
header .cont01 .search a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/* header .cont01 membership */
header .cont01 .membership{
    margin-left: 30px;
    font-family: 'Noto Sans KR';

}
header .cont01 .membership a{
    
    display: block;
    padding-top: 3px;
}
header .cont01 .membership a i{
    margin-left: 10px;
    vertical-align: top;
    transition: 0.5s;
}
header .cont01 .membership a:hover i{
    transform:translateX(5px);
    transition: 0.5s;
}
header .cont01 .membership a:hover{
    font-weight: 700;
}
/* header .cont01 .right_menu*/
header .cont01 .right_menu a{
    margin-left: 20px; 
}
header .cont01 .right_menu a i{
    transition: 0.5s;
    font-size: 35px;
    opacity: 90%; 
}
header .cont01 .right_menu a:hover i{
    transform: scale(1.2);
    transition: 0.5s;
    opacity: 100%;
}
/* .main_v */
.main_v{
    margin: 0 0 200px;
    width: 100%;
}
.main_v .swiper{
    width: 100%;
    height: 100%;
} 
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px 10px);
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,15px));
    }
    :root {
    --swiper-theme-color: #E50010;
    }
.swiper-slide a{
    width: 100%;
    height: 100vh;
    display: block; 
}
.swiper-slide a img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.swiper-slide a div{
    position: absolute;
    bottom:60px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    opacity: 90%;  
}
.swiper-slide a div h4{
    font-size: 30px;
    font-weight: 700;
}
.swiper-slide a div h2{
    font-size: 100px;
    font-weight: 400;
    padding-top: 20px;
}
.swiper-slide a div h3{
    font-size: 50px;
    font-weight: 400;
    padding-top: 60px;
}
.swiper-slide a img:nth-of-type(2){
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 770px;
    height: 443px;
}
.swiper-slide:nth-of-type(1){
    display: none;
}
.swiper-slide:nth-of-type(3) a div{
    line-height: 1.2;
}
.swiper-slide:nth-of-type(3) a div p{
    padding-top: 30px;
}
.swiper-slide:nth-of-type(4) h3{
    font-weight: 800;
    font-size: 100px;
}
.swiper-slide:nth-of-type(4) p{
    padding-top: 30px;
}
/* .cont02 */
.cont02{
    width: 1720px;
    margin: 0 auto;
}
.cont02 h2{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
}
.cont02 .btn ul{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.cont02 .btn ul .on{
    background-color: #E50010;
    color: #fff;
    border: none;
}
.cont02 .btn ul li{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #333;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #333 ;
    border-radius: 40px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cont02 .list.on{
    display: flex;
}
.cont02 .list{
    font-family: 'Noto Sans KR';
    width: 100%;
    display: none;
    justify-content: space-between;
}
.cont02 li .box li a img{
    display: block;
}
.cont02 li .box li a img:nth-of-type(2){
    display: none;
}
.cont02 li .box  li:hover a img:nth-of-type(1){
    display: none;
}
.cont02 li .box li:hover a img:nth-of-type(2){
    display: block;
}
.cont02 .list .box .info{
    height: 100px;
    position: relative;
    top:30px;
    left: 0;
}
.cont02 .list .box li a img{
    width: 414px;
    height: 532px;
    object-fit: cover;
    object-position: top;
}
.cont02 .list .box .info h4{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top : -20px;
    left: 2px;
}
.cont02 .list .box .info a p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
}
.cont02 .list .box .info a i{
    font-size: 25px;
    vertical-align: text-bottom;
}
.cont02 .list .box .info a strong{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
/* .cont03 */
.cont03{
    width: 1720px;
    margin: 200px auto 200px;
}
.cont03 h2{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
}
.cont03 .btn{}
.cont03 .btn ul{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.cont03 .btn ul li{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #333;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #333 ;
    border-radius: 40px;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cont03 .btn ul li.on{
    background-color: #E50010;
    color: #fff;
    border: none;
}
.cont03 .list{
    font-family: 'Noto Sans KR';
    display: none;
    width: 100%;
    justify-content: space-between;
}
.cont03 .list.on{
    display: flex;
}
.cont03 .list .box{
    width: 560px;
    position: relative;
    top:0;
    left: 0;
}
.cont03 .list .box li a img{
    display: block;
}
.cont03 .list .box li:nth-of-type(2) a img{
    display: none;
}
.cont03 .list .box li a img{
    width: 530px;
    height: 650px;
    object-fit: cover;
    object-position: center;
}
.cont03 .list .box:hover li:nth-of-type(1) a img{
    display: none;
}
.cont03 .list .box:hover li:nth-of-type(2) a img{
    display: block;
}
.cont03 .list .box .info{
    height: 107px;
    width: 560px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
}
.cont03 .list .box .info a{
    position: absolute;
    bottom: 20px;
}
.cont03 .list .box .info a p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8px;
}
.cont03 .list .box .info h4{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top:7px;
    left:15px;
}
.cont03 .list .box .info a ul{
    display: flex;
}
.cont03 .list .box li a ul li{
    font-size: 25px;
    font-weight: 700;
    color: #f15353;
}
.cont03 .list .box li a ul li i{
    vertical-align: top;
}
.cont03 .list .box li a ul li:nth-of-type(2){
    margin-left: 20px;
    color: #333;
    font-weight: 400;
    text-decoration: line-through;
}
/* .cont04 */
.cont04{
    width: 100%;
    height: 900px;
    background-color: #f4eddd;
    margin: 0 auto;
    text-align: center;
}
.cont04 h2{
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
    padding-top: 100px;
}
.cont04 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 18px;
}
.cont04 strong{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-family: 700;
}
.cont04 .list{
    margin: 70px auto 0;
    width: 1720px;
    display: flex;
    justify-content: space-between;
}
.cont04 .list .box{
    width: 560px;
    height: 525px;
    position: relative;
    top: 0;
    left: 0;
}
.cont04 .list .box .info{
   font-family: 'Noto Sans KR';
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    width: 100%;
}
.cont04 .list .box .info p{
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.cont04 .list .box .info h4{
    display: block;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    width: 100%;
}
.cont04 .list .box .info strong{
    display: block;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
}
.cont04 .list .box .info strong i{
    margin-left: 3px;
    vertical-align: top;
    transition: 0.5s;
}
.cont04 .list .box .info a:hover strong i{
    transform:translateX(5px);
    transition: 0.5s;
}
.cont04 .list .box .info a:hover strong{
    transform: scale(1.1);
    transition: 0.5s;
}
/* footer */
footer{
    font-family: 'Noto Sans KR';
    width: 100%;
    background-color: #343434;
    height: 300px;
    margin: 0 auto;
}
footer .footer_list01{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}
footer .footer_list01 a{
   color: #fff;
   opacity: 50%;
   display: block;
   margin: 0 10px;
}
footer .footer_icon{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_icon a{
    padding:0 15px;
    display: block;
}
footer .footer_icon a img{
    display: block;
}
footer .footer_list02{
    text-align: center;
    color:#fff;
    opacity: 50%;
    font-size: 13px;
    font-weight: 100;
}
footer .footer_list02 ul{
    display: flex;
    justify-content: center;
    line-height: 1.4;   
}
footer .footer_list02 ul li a{
    display: block;
    padding:0 10px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
}
footer h1{
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

